<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>redgradient</string>
	<string>purplegradient</string>
	<string>greengradient</string>
	<string>bluegradient</string>
	<string>sky</string>
	<string>wall</string>
	<string>fireworks</string>
	<string>pattern2</string>
	<string>artcenter</string>
	<string>flats</string>
	<string>fireworks2</string>
	<string>plane</string>
	<string>fireworks3</string>
	<string>sunset</string>
	<string>pattern1</string>
	<string>skyscraper</string>
	<string>recordplayer</string>
	<string>beetle</string>
	<string>redwater</string>
</array>
</plist>
